doctype html
head
  include head.pug
include guestMenu.pug
.clearfix
section#how-it-works.dark-overlay.text-light
  .container
    h1.text-center.mb-5 HOW IT WORKS?
    ul.nav.nav-tabs.flex-column.flex-sm-row.nav-justified.mb-5
      li.nav-item
        a.flex-sm-fill.text-sm-center.nav-link.active(data-toggle='tab' href='#clients') Clients
      li.nav-item
        a.flex-sm-fill.text-sm-center.nav-link(data-toggle='tab' href='#professionals') Service Experts
      li.nav-item
        a.flex-sm-fill.text-sm-center.nav-link(data-toggle='tab' href='#invest') Investors
    .tab-content
      #clients.tab-pane.fade.show.active.container
        .row
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-search-dollar.fa-stack-4x.mb-2
            p.header Search For Service
            p.footer You can use our platform to search for a professional near you.
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-user-tie.fa-stack-4x.mb-2
            p.header Book A Professional
            p.footer According to your needs and budget, you can book a professional to get the best services at affordable prices.
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-money-check-alt.fa-stack-4x.mb-2
            p.header Get Paid For Reviewing
            p.footer Not only you get the best services possible but you also get paid for giving reviews.
      #professionals.tab-pane.fade.container
        .row
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-bullhorn.fa-stack-4x.mb-2
            p.header Introduce Youself
            p.footer Registering with us is a very easy task, you just have to introduce yourself. What you are good at, and what services you plan to offer.
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-user-plus.fa-stack-4x.mb-2
            p.header People Book Your Services
            p.footer People searching for your services near you, book your services.
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-chart-line.fa-stack-4x.mb-2
            p.header Make More Money
            p.footer Making money gets so much easy working with us, you get paid for the work you did, and also for the submitting details of the work done.
      #invest.tab-pane.fade.container
        .row
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-tasks.fa-stack-4x.mb-2
            p.header Mark Professional You Like
            p.footer Everybody can mark their favourite professionals, follow them to see what they aer doing.
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-envelope.fa-stack-4x.mb-2
            p.header Get Notifications
            p.footer You get notifications of any investment opportunity, where the return on investment is good for investment.
          .how-icons.col-md-4.text-center.mb-3
            span.home-icons.fa-stack
              i.fa.fa-file-invoice-dollar.fa-stack-4x.mb-2
            p.header Invest &amp; Earn More
            p.footer Saved money will only collect dust, but if invested properly it can generate massive return opportunities.
section.mt-3.py-5
  .container
    h1.text-secondary.text-center.mb-5 Frequently Asked Questions
    #accordionExample.accordion
      .card
        #headingOne.card-header.bg-main
          h5.mb-0
            button.btn.btn-link.text-light(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
              | Collapsible Group Item #1
        #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .card
        #headingTwo.card-header.bg-main
          h5.mb-0
            button.btn.btn-link.text-light.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
              | Collapsible Group Item #2
        #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .card
        #headingThree.card-header.bg-main
          h5.mb-0
            button.btn.btn-link.text-light.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
              | Collapsible Group Item #3
        #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
section#video-tutorials.p-3.dark-overlay
  h1.text-center.text-light.text-uppercase.py-5 Video Tutorials
  .row.pb-3
    .col-6
      .embed-responsive.embed-responsive-16by9
        video(controls='')
          source(src='./video/teach.mp4' type='video/mp4')
    .col-6
      .embed-responsive.embed-responsive-16by9
        video(controls='')
          source(src='./video/office.mp4' type='video/mp4')
  .row.pb-3
    .col-6
      .embed-responsive.embed-responsive-16by9
        video(controls='')
          source(src='./video/office.mp4' type='video/mp4')
    .col-6
      .embed-responsive.embed-responsive-16by9
        video(controls='')
          source(src='./video/teach.mp4' type='video/mp4')
  .row.pb-3
    .col-6
      .embed-responsive.embed-responsive-16by9
        video(controls='')
          source(src='./video/teach.mp4' type='video/mp4')
    .col-6
      .embed-responsive.embed-responsive-16by9
        video(controls='')
          source(src='./video/office.mp4' type='video/mp4')
include footer.pug
include scripts.pug
