footer.p-5.bg-light
  .container
    .row
      .col-md-3.col-lg-4
        hr
      .col-md-6.col-lg-4.text-center
        h1 Mera Steem
      .col-md-3.col-lg-4
        hr
  .row
    .col-md-3.col-lg-4.mb-3
      ul.text-center.list-unstyled
        li
          a(href='/about') About us
        li
          a(href='https://steemit.com/privacy.html') Privacy Policy
        li
          a(href='https://steemit.com/tos.html') Terms &amp; Conditions
        li
          a(href='#') Contact us
    .col-md-6.col-lg-4.text-center.mb-3
      .row
        .col-xs-6.col-md-3.font-icons
          a(href='#')
            span.home-icons.fa-stack
              i.fab.fa-discord.fa-stack-4x.mb-2
        .col-xs-6.col-md-3.font-icons
          a(href='#')
            span.home-icons.fa-stack
              i.fab.fa-facebook.fa-stack-4x.mb-2
        .col-xs-6.col-md-3.font-icons
          a(href='#')
            span.home-icons.fa-stack
              i.fab.fa-youtube.fa-stack-4x.mb-2
        .col-xs-6.col-md-3.font-icons
          a(href='#')
            span.home-icons.fa-stack
              i.fab.fa-instagram.fa-stack-4x.mb-2
    .col-md-3.col-lg-4
      ul.text-center.list-unstyled
        li
          a(href='#') AML Policy
        li
          a(href='#') KYC
        li
          a(href='#') Investment Opportunities
        li
          a(href='#') Donate
  .row
    .container.text-center
      p
        | Made with love - 
        a(href='#') @cryptogecko
