doctype html
head
  include head.pug
include guestMenu.pug
include videoSearch.pug
section
  .container.text-center
    include main-categories.pug
hr
section.container.py-3.mt-5
  .row
    .sticky-top.col-lg-2.d-none.d-lg-block
      include topics.pug
    .main-content.col-md-12.col-lg-6
      .text-right
        p Sort by: Trending
      .card.border.bg-light
        .card-header.d-flex.justify-content-between.align-items-center.px-3.py-2
          a(href='/@username')
            img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
          .col
            a(href='/@username')
              p.h4
              | username
              span.badge.badge-pill.badge-secondary.ml-2 25
            p.small Some Time Ago . 
              span.badge.badge-pill.badge-info Steemit
          a.btn.btn-secondary(href='/trending/project') ms-makeup
        h4.card-text.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
        img.merasteem_post_image.card-image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
        h6.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
        .card-footer.d-flex.justify-content-between
          .p-1
            span.p-2
              i.fa.fa-heart.px-1
              | 320
            span.p-2
              i.fa.fa-comment.px-1
              | 12
            span.p-2
              i.fa.fa-random.px-1
              | 2
            i.fa.fa-ellipsis-h.px-1
          .p-1
            span.p-2
              i.fa.fa-dollar-sign.px-1
              | 120
      br
      .card.border.bg-light
          .card-header.d-flex.justify-content-between.align-items-center.px-3.py-2
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
            .col
              a(href='/@username')
                p.h4
                | username
                span.badge.badge-pill.badge-secondary.ml-2 25
              p.small Some Time Ago . 
                span.badge.badge-pill.badge-info Steemit
            a.btn.btn-secondary(href='/trending/project') ms-electrician
          h4.card-text.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          img.merasteem_post_image.card-image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
          h6.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
          .card-footer.d-flex.justify-content-between
            .p-1
              span.p-2
                i.fa.fa-heart.px-1
                | 320
              span.p-2
                i.fa.fa-comment.px-1
                | 12
              span.p-2
                i.fa.fa-random.px-1
                | 2
              i.fa.fa-ellipsis-h.px-1
            .p-1
              span.p-2
                i.fa.fa-dollar-sign.px-1
                | 120
      br
      .card.border.bg-light
          .card-header.d-flex.justify-content-between.align-items-center.px-3.py-2
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
            .col
              a(href='/@username')
                p.h4
                | username
                span.badge.badge-pill.badge-secondary.ml-2 25
              p.small Some Time Ago . 
                span.badge.badge-pill.badge-info Steemit
            a.btn.btn-secondary(href='/trending/project') ms-plumber
          h4.card-text.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          img.merasteem_post_image.card-image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
          h6.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
          .card-footer.d-flex.justify-content-between
            .p-1
              span.p-2
                i.fa.fa-heart.px-1
                | 320
              span.p-2
                i.fa.fa-comment.px-1
                | 12
              span.p-2
                i.fa.fa-random.px-1
                | 2
              i.fa.fa-ellipsis-h.px-1
            .p-1
              span.p-2
                i.fa.fa-dollar-sign.px-1
                | 120
      br
      .card.border.bg-light
          .card-header.d-flex.justify-content-between.align-items-center.px-3.py-2
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
            .col
              a(href='/@username')
                p.h4
                | username
                span.badge.badge-pill.badge-secondary.ml-2 25
              p.small Some Time Ago . 
                span.badge.badge-pill.badge-info Steemit
            a.btn.btn-secondary(href='/trending/project') ms-painter
          h4.card-text.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          img.merasteem_post_image.card-image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
          h6.p-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
          .card-footer.d-flex.justify-content-between
            .p-1
              span.p-2
                i.fa.fa-heart.px-1
                | 320
              span.p-2
                i.fa.fa-comment.px-1
                | 12
              span.p-2
                i.fa.fa-random.px-1
                | 2
              i.fa.fa-ellipsis-h.px-1
            .p-1
              span.p-2
                i.fa.fa-dollar-sign.px-1
                | 120
      br
    .col-lg-4.d-none.d-lg-block.sticky-top
      .jumbotron.text-center.bg-main.text-light.p-4
        h4.pb-3 New to Merasteem?
        a.btn.btn-lg.btn-outline-light(href='https://signup.steemit.com/') Register
  include modals.pug
include footer.pug
include scripts.pug