doctype html
head
  include head.pug
include menu.pug
header#page-header
  .container
    .row
      .col-md-6.m-auto.text-center
        h1.my-3 Featured List Of Jobs
        include impProjects.pug
section.container.py-3.mt-5
  .row
    include topics.pug
    .main-content.col-6
      .text-right
        p Sort by: Trending
      .merasteem_post.border.bg-light.mb-3
        .merasteem_post_header.d-flex.justify-content-between.px-3.pt-3
          .col-2.pr-0.mr-0
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
          .col-8.p-0.m-0
            .col
              a(href='/@username')
                h4
                  | username
                  span.badge.badge-pill 25
              p
                | Some Time Ago.
                span.badge.badge-pill Steemit
          a.btn.btn-secondary.h-50(href='/trending/project') job
        .merasteem_post_content.px-2.pb-2
          h4.px-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          h6.px-3
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
        a(href='/@username/:id')
          img.merasteem_post_image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
        .merasteem_post_footer.d-flex.justify-content-between
          .p-3
            span.p-2
              i.fa.fa-heart.p-1
              | 320
            span.p-2
              i.fa.fa-comment.p-1
              | 12
            span.p-2
              i.fa.fa-random.p-2
              | 2
            i.fa.fa-ellipsis-h.p-2
          .p-3
            span.p-2
              i.fa.fa-dollar-sign.p-1
              | 120
      .merasteem_post.border.bg-light.mb-3
        .merasteem_post_header.d-flex.justify-content-between.px-3.pt-3
          .col-2.pr-0.mr-0
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
          .col-8.p-0.m-0
            .col
              a(href='/@username')
                h4
                  | username
                  span.badge.badge-pill 25
              p
                | Some Time Ago.
                span.badge.badge-pill Steemit
          a.btn.btn-secondary.h-50(href='/trending/project') job
        .merasteem_post_content.px-2.pb-2
          h4.px-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          h6.px-3
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
        a(href='/@username/:id')
          img.merasteem_post_image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
        .merasteem_post_footer.d-flex.justify-content-between
          .p-3
            span.p-2
              i.fa.fa-heart.p-1
              | 320
            span.p-2
              i.fa.fa-comment.p-1
              | 12
            span.p-2
              i.fa.fa-random.p-2
              | 2
            i.fa.fa-ellipsis-h.p-2
          .p-3
            span.p-2
              i.fa.fa-dollar-sign.p-1
              | 120
      .merasteem_post.border.bg-light.mb-3
        .merasteem_post_header.d-flex.justify-content-between.px-3.pt-3
          .col-2.pr-0.mr-0
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
          .col-8.p-0.m-0
            .col
              a(href='/@username')
                h4
                  | username
                  span.badge.badge-pill 25
              p
                | Some Time Ago.
                span.badge.badge-pill Steemit
          a.btn.btn-secondary.h-50(href='/trending/project') job
        .merasteem_post_content.px-2.pb-2
          h4.px-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          h6.px-3
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
        a(href='/@username/:id')
          img.merasteem_post_image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
        .merasteem_post_footer.d-flex.justify-content-between
          .p-3
            span.p-2
              i.fa.fa-heart.p-1
              | 320
            span.p-2
              i.fa.fa-comment.p-1
              | 12
            span.p-2
              i.fa.fa-random.p-2
              | 2
            i.fa.fa-ellipsis-h.p-2
          .p-3
            span.p-2
              i.fa.fa-dollar-sign.p-1
              | 120
      .merasteem_post.border.bg-light.mb-3
        .merasteem_post_header.d-flex.justify-content-between.px-3.pt-3
          .col-2.pr-0.mr-0
            a(href='/@username')
              img.merasteem_user_image.rounded-circle(src='./img/dummy.jpg' alt='User Image')
          .col-8.p-0.m-0
            .col
              a(href='/@username')
                h4
                  | username
                  span.badge.badge-pill 25
              p
                | Some Time Ago.
                span.badge.badge-pill Steemit
          a.btn.btn-secondary.h-50(href='/trending/project') job
        .merasteem_post_content.px-2.pb-2
          h4.px-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, maxime.
          h6.px-3
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi cumque molestiae, cum fuga ut quia culpa consequatur hic consequuntur nobis fugiat voluptatum quidem delectus!
        a(href='/@username/:id')
          img.merasteem_post_image.img-fluid(src='./img/dummy.jpg' alt='Post Image')
        .merasteem_post_footer.d-flex.justify-content-between
          .p-3
            span.p-2
              i.fa.fa-heart.p-1
              | 320
            span.p-2
              i.fa.fa-comment.p-1
              | 12
            span.p-2
              i.fa.fa-random.p-2
              | 2
            i.fa.fa-ellipsis-h.p-2
          .p-3
            span.p-2
              i.fa.fa-dollar-sign.p-1
              | 120
    .col-4(style='top: 10%;')
      .jumbotron.text-center.bg-main.text-light.p-4
        h4.pb-3 New to Merasteem?
        a.btn.btn-lg.btn-outline-light(href='#') Register
include footer.pug
include scripts.pug
