.row.text-center.mt-5
  .how-icons.col-sm-6.col-md-4.col-lg-2.text-center.mb-3
      a(href='#' data-toggle='modal' data-target='#mainCategoryModal' data-whatever='appliance')
        span.home-icons.fa-stack
          i.fa.fa-microchip.fa-stack-4x.mb-2
      p.mt-2 Appliance Repair
  .how-icons.col-sm-6.col-md-4.col-lg-2.text-center.mb-3
      a(href='#' data-toggle='modal' data-target='#mainCategoryModal' data-whatever='beauty')
        span.home-icons.fa-stack
          i.fa.fa-mortar-pestle.fa-stack-4x.mb-2
      p.mt-2 Beauty &amp; Spa
  .how-icons.col-sm-6.col-md-4.col-lg-2.text-center.mb-3
      a(href='#' data-toggle='modal' data-target='#mainCategoryModal' data-whatever='business')
        span.home-icons.fa-stack
          i.fa.fa-briefcase.fa-stack-4x.mb-2
      p.mt-2 Business &amp; Taxes
  .how-icons.col-sm-6.col-md-4.col-lg-2.text-center.mb-3
      a(href='#' data-toggle='modal' data-target='#mainCategoryModal' data-whatever='home')
        span.home-icons.fa-stack
          i.fa.fa-people-carry.fa-stack-4x.mb-2
      p.mt-2 Home Cleaning &amp; Repair
  .how-icons.col-sm-6.col-md-4.col-lg-2.text-center.mb-3
      a(href='#' data-toggle='modal' data-target='#mainCategoryModal' data-whatever='personal')
        span.home-icons.fa-stack
          i.fa.fa-users.fa-stack-4x.mb-2
      p.mt-2 Personal &amp; More
  .how-icons.col-sm-6.col-md-4.col-lg-2.text-center.mb-3
      a(href='#' data-toggle='modal' data-target='#mainCategoryModal' data-whatever='events')
        span.home-icons.fa-stack
          i.fa.fa-calendar-alt.fa-stack-4x.mb-2
      p.mt-2 Wedding &amp; Events