#profile-header
  .container
    .row.align-items-center.mx-5
      img.merasteem_profile_image.rounded-circle.img-responsive(src='./img/dummy.jpg' alt='User Image')
      .col  
        .row.mx-5
          p.h4
            | USERNAME
          span.badge.badge-pill.badge-secondary.h-25.ml-2.mt-1
            | 25
          .btn.btn-outline-light.ml-3 Edit Profile
        p.small.mx-5
          | @username
          span.px-2
            i.fa.fa-shield-alt.mx-1
              | Plankton