nav.nav.flex-column.mb-3
    li.nav-item(class=(name === "profile" ? "active" : undefined))
        a.nav-link.btn-light.m-1(href='/profile') Profile
    a.nav-link.btn-light.m-1(href='#') Feed
    a.nav-link.btn-light.m-1(href='#') News
    a.nav-link.btn-light.m-1(href='#') Replies
    a.nav-link.btn-light.m-1(href='#') Messages
    a.nav-link.btn-light.m-1(href='#') My Guild
    li.nav-item(class=(name === "wallet" ? "active" : undefined))
        a.nav-link.btn-light.m-1(href='/wallet') Wallet
    li.nav-item(class=(name === "exchange" ? "active" : undefined))
        a.nav-link.btn-light.m-1(href='/exchange') Exchange
    a.nav-link.btn-light.m-1(href='/invite') Invites
    hr