nav.nav.flex-column
  h5.text-dark.pl-3.text-bold Trending Topics
  a.nav-link.btn-light.m-1(href='#') Topic 1
  a.nav-link.btn-light.m-1(href='#') Topic 2
  a.nav-link.btn-light.m-1(href='#') Topic 3
  a.nav-link.btn-light.m-1(href='#') Topic 4
  a.nav-link(href='#') More ...
